<?xml version="1.0" encoding="utf-8"?>
<manifest
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

<!--    DownloadManger静默下载-->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zcl.practice.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".AdapterCountDownActivity"/>
        <activity android:name=".animation.AnimationActivity"/>
<!--        <activity android:name=".danmakuflame.DemoActivity"/>-->
        <activity android:name=".rx.RxJavaDemoActivity"
                  android:label="RxJava"/>

        <activity android:name=".ioc.IocActivity"/>
        <activity android:name=".fragment.FragmentDemoActivity"/>
        <activity android:name=".opengl.MainActivity"/>
        <activity android:name=".fragment.PageGridActivity"/>
        <activity android:name=".fragment.PageZoomActivity"/>
        <activity android:name=".plugin.PluginDemoActivity"/>
        <activity android:name=".plugin.ProxyActivity"/>
        <activity android:name=".ToolsActivity"/>
        <activity android:name=".SimpleFragmentActivity"/>

        <activity android:name=".database.ui.DatabaseActivity"/>
        <activity android:name=".compose.ComposeSampleActivity"/>


    </application>

</manifest>
